$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin media-breakpoint-up($size) {
  @media (min-width: $size) {
    @content;
  }
}

// Extra Small <576px (XS)

// // Small devices (landscape phones, 576px and up) (SM)
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// // Medium devices (tablets, 768px and up) (MD)
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }

// // Large devices (desktops, 992px and up) (LG)
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up) (XL)
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1140px;
//   }
// }
